@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Nighty";
  src: url("src/assets/fonts/Nighty.otf") format("opentype");
}

@font-face {
  font-family: "Nats";
  src: url("src/assets/fonts/NATS.ttf") format("truetype");
}
* {
  @apply font-nats m-0 p-0 box-border leading-4;
}
